[user]
  name = David Krutsko
  email = dave@krutsko.net
[core]
  editor = vim
  pager = less -R
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[difftool]
  prompt = false
[alias]
  st = status
  co = checkout
  ci = commit
  undo = reset --soft HEAD^
